<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Heart-tweets</title>
</head>
<body>
</body>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://yourjavascript.com/1127322749/matter-min.js"></script>
<script>
  $(function(){
  var host = "ws://heart-tweets.herokuapp.com/echo";
  var socket = new WebSocket(host);

  var Engine = Matter.Engine,
      Render = Matter.Render,
      World = Matter.World,
      Bodies = Matter.Bodies;

  var engine = Engine.create();

  var width = window.innerWidth - 50,
      height = window.innerHeight - 50;

  var render = Render.create({
      element: document.body,
      engine: engine,
      options: {
        wireframes: false,
        width: width,
        height: height
      }
  });

  function drop(url){
    var pic = url
    var rand = Math.floor( Math.random() * width );
    var picbox = Bodies.rectangle(rand, 0, 48, 48,{
      restitution: 1.2,
      render: {
                sprite: {
                    texture: pic,
                }
            }
    });
    World.add(engine.world, [picbox]);
  }


  var ground = Bodies.rectangle(width/2, height, width - 200, 60, { isStatic: true });

  World.add(engine.world, [ground]);

  Engine.run(engine);

  Render.run(render);

  socket.onmessage = function(message){
    drop(message.data);
  }

})
</script>
</html>
